.404-virhe {
  background-color:black;color:#bffbff;
}
p.linkki-etusivun-kuvasta-blogiin {
  display:none;
  background-color:#fafafa;
}
.gridiksi {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 3fr));
  grid-auto-rows:repeat(auto-fit, minmax(1fr, 2.1fr));
  grid-auto-flow:dense;
}